# =========================
# Environment / secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env/
.venv/

# =========================
# Redis
# =========================
dump.rdb

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
